* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.v100 {
  margin: 0 auto;
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
}

.bk-rule {
  background-size: cover;
  background-position: center;
}

section {
  position: relative;
}

section:first-child {
  background-image: url(../img/dublino.jpg);
}

section:nth-child(2) {
  background-image: url(../img/parigi.jpg);
}

section:nth-child(3) {
  background-image: url(../img/roma.jpg);
}

.overlay {
  position: absolute;
  background: #000;
  opacity: 0.4;
  z-index: 10;
}

.city-title {
  font-size: 40px;
  color: #fff;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

section:hover > .overlay {
  opacity: 0.1
}
