.slider {
    position: relative;
}

.slider-picture img {
    width: 100%;
    display: none;
}

.slider-picture img.current {
    display: block;
    animation: fadeIn .3s linear;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.arrow {
    font-size: 40px;
}

.slider-dots {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -100px; /* todo c'è una soluzione migliore? */
    color: #fff;
}

.slider-dots .current {
    color: blue;
}