<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>TodoList</title>
  </head>
  <body>

    <div id="app">
      <input v-model="currentSentence" v-on:keyup.enter="addToList"></input>
      <button @click="addToList">Invia</button>

      <ul>
        <li v-for="(element, index) in list">{{element}}
          <span @click="removeFromList(index)"><strong>X</strong></span>
        </li>
      </ul>

      <br/>
      <br/>
      <br/>
      <ul>
        <li v-for="element in list">{{element}}
          <span @click="removeFromListWithFilter(element)"><strong>X</strong></span>
        </li>
      </ul>


    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
