* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  border: 2px #ff6b6b solid;
}

.bg-color {
  background-color: #2a2a2a;
}

.bg-color .flex-item {
  background-color: #feec73;
}

.flex-item {
  border: 1px #000 solid;
  background: #ccc;
  height: 100px;
  width: 200px;
}

.direction-custom {
  flex-direction: column;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.direction-column-reverse {
  flex-direction: column-reverse;
}

.start-end {
  justify-content: flex-end;
}

.cross-start-end {
  height: 600px;
  flex-direction: row;
  align-items: flex-end;
}

.cross-column-start-end {
  height: 600px;
  flex-direction: column;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.all-center-now {
  width: 100vw;
  max-width:100%;  /* to get it without scrollbar */
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.all-center-now-column-direction {
  width: 100vw;
  max-width:100%;  /* to get it without scrollbar */
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-center-now.wrap {
  flex-wrap: wrap-reverse;
}

.row-flex-basis {
 /* per il basis non vado a toccare il parent, ma agisco sull'item */
}

.column-flex-basis {
  flex-direction: column;
}

.row-flex-basis .flex-item, .column-flex-basis .flex-item {
  flex-basis: auto;
}

.row-flex-basis .flex-item:nth-child(2), .column-flex-basis .flex-item:nth-child(2) {
  flex-basis: 400px;
}
