* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: teal;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 40px;
}

nav {    
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}