[class*="col-"] {
  border: 1px solid black;
  background: pink;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

[class*="col-"] .container [class*="col-"] {
  height: 260px;
  background: lightcoral;
  position: relative;
  line-height: normal;
}

[class*="col-"] .container [class*="col-"] > div, .nested {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

nav [class*="col-"] {
  height: 80px;
  background-color: red;
  line-height: normal;
}

nav [class*="col-"] li {
  display: inline-block;
  text-align: left;
   line-height: 80px;
}
