* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.box {
  width: 50%;
  height: 500px;
}

.box:first-child {
  background-color: #ccc;
}

.box:nth-child(2) {
  background-color: lightgreen;
}

@media screen and (max-width: 480px) {
  .box {
    width: 100%;
  }
}
