/* UTILITY */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 70px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.fl {
  float: left;
}

.gtr {
    width: 50%;

}
h1{
  text-align: center;
}
.show-desktop {
  display: block;
}

.show-mobile {
  display: none;
}
/* END UTILITY */

div.gtr > img {
  height: 300px;
}

/* media query sostituzioni img da desktop a mobile */

@media screen and (max-width: 768px) {
  .gtr{
    width: 100%;
  }
  .show-desktop {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  h1{
    font-size: 0.5em;
  }
}
