.navbar{
  height: 100px;
}
.logo{
  height: 40px;
}
.navbar li{
  display: inline-block;
}

.bg-man {
  background: url("../img/index-banner.1f6fd0a.jpg");
  height: 400px;
  background-size: cover;
}

.frst-span, .scnd-span {
  margin-top: 100px;
}

.phone img {
  width: 100%;
  transform: translate(0, -50%);
}

.phone {
  padding: 0 40px;
}
.bg-blue{
  background: linear-gradient(#41566A,#252F38) 50% no-repeat;
  color: #fff;
  height: 300px;
  overflow: hidden;
}
