* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

#wrapper {
  background: #000;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

main {
  height: calc(100% - 90px);
  background: #ccc;
}

.main-nav {
  background: lightgreen;
  float: left;
  width: 230px;
  height: 100%;
  overflow-y: hidden;
  /* TODO: min-height? */
}

.main-nav ul li {
  margin: 15px;
  text-transform: uppercase;
  list-style: none;
}

.content {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  background-color: #777;
  overflow-y: auto;
}

.first-section {
  display:flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.content .generic-item {
  width: calc(100% / 6 - 15px);
  border: 1px #000 solid;
  margin-right: 15px;
  margin-top: 15px;
  max-width: 200px;
}

.content .generic-item img {
  width: 100%;
  vertical-align: middle;
}

.content .generic-item .cover-text {
  text-align: center;
}

.call-to-action {
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  text-align: right;
  padding-right: 50px;
  line-height: 90px;
  font-weight: bold;
}

.call-to-action a {
  color: #fff;
  text-decoration: none;
}

.main-content-nav {
  margin-top: 90px;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: 4px #666 dashed;
}

footer {
  height: 90px;
  background: #333;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.mini, .options {
  width: 20%;
  border: 1px #fff solid;
}

.player {
  width: 60%;
  /* TODO: ma serve davvero il width? */
  text-align: center;
  border: 2px green solid;
}

.player ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.player ul li.big {
  font-size: 32px;
  padding: 10px 20px;
}

.player ul li.big:hover {
  transform: scale(1.2);
}

.player-control-time {
  background: rgba(255,255,255,.2);
  width: 100%;
  height: 4px;
}

.player-control-time .elapsed-time {
  position: relative;
  background: rgba(255,255,255,.8);
  height: 100%;
}

.elapsed-time .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.player-control-time:hover .point {
  display: block;
}

.perc-20 {
  width: 20%;
}

.perc-40 {
  width: 40%;
}

@media (max-width: 991px) {
  .content .generic-item {
    width: calc(100% / 4 - 15px);
  }
 }


 /* xs */
 @media (max-width: 767px) {
   .content .generic-item {
     width: calc(100% / 2 - 15px);
   }
 }


/* xs */
@media (max-width: 575px) {
  .content .generic-item {
    width: calc(100% / 2 - 15px);
  }


}
