.box {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    display: inline-block;
}

.box.red {
    background-color: red;
}

.box.green {
    background-color: green;
}

.box.blue {
    background-color: blue;
}