#container, #container-by-gender, #container-final-list {
  font-size: 26px;
}


#container-by-gender {
  border: 1px #ccc solid;
  margin: 20px 0;
  display: flex;
}

.box-female {
  width: calc(50% - 1px);
  border-right: 2px #000 solid;
  padding: 15px;
}

.box-male {
  width: calc(50% - 1px);
  padding: 15px;
}

#container-filter {
  margin: 20px 0;
  padding: 20px;
  border-top: 2px #333 solid;
}

.search {
  padding: 20px;
  background-color: lightblue;
  font-size: 24px;
}
