.box-1{
  background-color: blue;
  width: 100px;
  height: 100px;
}

.box-1:hover{
  transition: background 2s;
  background-color: red;
}

.box-2{
  width: 100px;
  height: 100px;
  animation-name: bg-effect;
  animation-duration: 2s;
  background-color: blue;
}

@keyframes bg-effect{
  from {background-color: blue}
  to {background-color: red}
}
.wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.box-3{
  width: 200px;
  height: 200px;
  background-color: #0f0;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: gino;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}
@keyframes gino{
  0% {top:0; left:0}
  25% {top:0; left:calc(100vw - 200px)}
  50% {top:calc(100vh - 200px); left:calc(100vw - 200px)}
  75% {top:calc(100vh - 200px); left:0}
  100% {top:0; left:0}

}
