<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Live Coding Vue.JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
      .box {
        width: 100px;
        height: 100px;
        background: red;
      }

      .startTitleColor {
        color: red;
      }

      .newTitleColor {
        color: blue;
      }
    </style>
  </head>
  <body>

    <div id="root">
      <input v-model="name">
      <input v-model="surname">
      <p>Ciao {{name}} {{surname}}</p>
      <div v-bind:class="boxClassName"></div>
      <br />
      <!-- Per chi finisce subito provate a mettere un colore nel data
      e a visualizzare un div 100px x 100px con questo colore come background -->
      <input v-model="color">
      <div :style="'width:100px; height:100px; background:' + color + ';'"></div>
      <!-- width:100px; height:100px; background: red; -->
      <!-- console.log('width:100px; height:100px; background:' + color + ';') -->

      <button @click="saluta">Click</button>

      <!-- <input v-on:keyup.enter="submitFunction" value='Premi invio'> -->
      <input @keyup.enter="submitFunction" value='Premi invio'>

      <!-- Creiamo una pagina con all’interno un titolo di colore rosso.
        Al click di un bottone il titolo diventerà blu. -->
        <h1 :style="'color:' + titleColor">Questo è un titolo</h1>

        <button @click="changeColor">Cambia il colore</button>

        <h1 :class="titleColorClass">Questo è un titolo</h1>
        <button @click="changeColorClass">Cambia il colore</button>

    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
